
.linkScroll {
    scroll-margin-top: 4rem;
}

.linkScrollPageHeader {
  scroll-margin-top: 8rem;
}

@media screen and (max-width: 768px) {
  .linkScrollPageHeader {
    scroll-margin-top: 4rem;
  }
}


.maxWidth {
    max-width: 1280px;
}
