
.linkScroll {
    scroll-margin-top: 4rem;
}

.linkScrollPageHeader {
  scroll-margin-top: 8rem;
}

@media screen and (max-width: 768px) {
  .linkScrollPageHeader {
    scroll-margin-top: 4rem;
  }
}


.maxWidth {
    max-width: 1280px;
}

:root {
  /* Folder structure */
  --folder-structure-item-height: 1.5rem;
  --folder-structure-item-margin-left: 2.5rem;
  --folder-structure-item-padding-top: 1rem;
  /*  */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 3.75rem;
  --font-size-7xl: 4.5rem;
  --font-size-8xl: 6rem;
  --font-size-9xl: 8rem;
  /*  */
  --font-lineHeight-xs: 1rem;
  --font-lineHeight-sm: 1.25rem;
  --font-lineHeight-base: 1.5rem;
  --font-lineHeight-lg: 1.75rem;
  --font-lineHeight-xl: 1.75rem;
  --font-lineHeight-2xl: 2rem;
  --font-lineHeight-3xl: 2.25rem;
  --font-lineHeight-4xl: 2.5rem;
  --font-lineHeight-5xl: 1;
  --font-lineHeight-6xl: 1;
  --font-lineHeight-7xl: 1;
  --font-lineHeight-8xl: 1;
  --font-lineHeight-9xl: 1;
  
  --custom-color-gray: rgba(105 127 159);
  --custom-color-lightGray: rgba(209 213 219);
  --custom-color-blue: rgba(0 95 181);
  --custom-color-deepBlue: rgba(70 130 180);
  --custom-color-lightBlue: rgba(50 156 255);
  --custom-color-orange: rgba(229 181 127);
  --custom-color-lightOrange: rgba(231 198 148);
  --custom-color-platina: rgba(224 224 224);
  
  --tw-gray-opacity50:rgb(209 213 219 / 0.5);
}
